.student-entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  border: 1px solid #f0f0f0;
  padding: 16px;
  border-radius: 8px;
}

.student-entry-form_form-row {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  padding: 0px 0px 16px 0px;
}

.student-entry-form_form-row-input-section {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  min-width: 650px;
  gap: 16px;
  padding: 8px;
}

.student-entry-form_form-row-input-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 650px;
  padding: 8px;
}

.student-entry-form_form-row-input-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.student-entry-form label {
  font-size: small;
}

.input-group {
  flex: 1;
}

.btn-outline-secondary {
  border-color: #dee2e6;
}

.align-center {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.declaration-input {
  display: flex;
  flex-direction: row;
}

.declaration-input_input {
  margin-left: 8px;
}

.field-label {
  height: 36px;
  width: 205px;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  padding: 4px 0px 4px 12px;
  border-color: #dee2e6;
}

.students-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.records-grid {
  height: 800px;
  width: 100%;
}

.add-btn-container {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 20px;
}

.add-btn-container_action-button {
  border: 1px solid #fff;
  border-radius: 4px;
}
